<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>

    <h1>Good destinations:</h1>

    <h3>Ukraine</h3> <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur minus amet in earum voluptate modi accusantium tenetur qui, veniam vel quis commodi est quidem accusamus ipsa dolores debitis nostrum iure! 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, neque! Optio, explicabo dolores. Hic, sint aliquam tempora veniam facilis similique quo incidunt tenetur doloribus nostrum voluptatum perspiciatis adipisci aspernatur animi.
    </p> <br>

    <h3>USA</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur minus amet in earum voluptate modi accusantium tenetur qui, veniam vel quis commodi est quidem accusamus ipsa dolores debitis nostrum iure! 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, neque! Optio, explicabo dolores. Hic, sint aliquam tempora veniam facilis similique quo incidunt tenetur doloribus nostrum voluptatum perspiciatis adipisci aspernatur animi.
    </p> <br>

    <h3>Germany</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur minus amet in earum voluptate modi accusantium tenetur qui, veniam vel quis commodi est quidem accusamus ipsa dolores debitis nostrum iure! 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, neque! Optio, explicabo dolores. Hic, sint aliquam tempora veniam facilis similique quo incidunt tenetur doloribus nostrum voluptatum perspiciatis adipisci aspernatur animi.
    </p> <br>

    <h3>Brazil</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur minus amet in earum voluptate modi accusantium tenetur qui, veniam vel quis commodi est quidem accusamus ipsa dolores debitis nostrum iure! 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, neque! Optio, explicabo dolores. Hic, sint aliquam tempora veniam facilis similique quo incidunt tenetur doloribus nostrum voluptatum perspiciatis adipisci aspernatur animi.
    </p> <br>

    <h3>Ireland</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur minus amet in earum voluptate modi accusantium tenetur qui, veniam vel quis commodi est quidem accusamus ipsa dolores debitis nostrum iure! 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, neque! Optio, explicabo dolores. Hic, sint aliquam tempora veniam facilis similique quo incidunt tenetur doloribus nostrum voluptatum perspiciatis adipisci aspernatur animi.
    </p> <br>


    <br><br>
    <button><a href="{{url_for('index')}}">Go back</a></button>

</body>
</html>