<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>
    <button><a href="{{url_for('contact')}}">contact our chatbot</a></button> <button><a href="{{url_for('countries')}}">Look at the destinations</a></button><br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo quos aliquam nostrum perferendis ea necessitatibus? Suscipit dolore vitae placeat, sint vero maxime pariatur sunt numquam. Quam ab voluptate placeat veritatis!</p>
</body>
</html>